
@font-face {
    font-family: 'wtiransans';
    src: url('assets/font/iransansweb/Bold/IRANSansWeb_Bold.eot'); /* IE9 Compat Modes */
    src: url('assets/font/iransansweb/Bold/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/font/iransansweb/Bold/IRANSansWeb_Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/font/iransansweb/Bold/IRANSansWeb_Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/font/iransansweb/Bold/IRANSansWeb_Bold.ttf')  format('truetype') ;/* Safari, Android, iOS */

    src: url('assets/font/iransansweb/Regular/IRANSansWeb.eot'); /* IE9 Compat Modes */
    src: url('assets/font/iransansweb/Regular/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/font/iransansweb/Regular/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/font/iransansweb/Regular/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
    url('assets/font/iransansweb/Regular/IRANSansWeb.ttf')  format('truetype'); /* Safari, Android, iOS */
}


/* or you can use this one for fonts: */
@font-face {
  font-family: "IRANSans";
  src: url("./assets/IRANSansSmall.eot"); /* IE9 Compat Modes */
  src: url("./assets/IRANSansSmall.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/IRANSansSmall.otf") format("opentype"),
    /* Open Type Font */ url("./assets/IRANSansSmall.svg") format("svg"),
    /* Legacy iOS */ url("./assets/IRANSansSmall.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/IRANSansSmall.woff") format("woff"),
    /* Modern Browsers */ url("./assets/IRANSansSmall.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IRANSansSmallBold.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/IRANSansSmallBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/IRANSansSmallBold.otf") format("opentype"),
    /* Open Type Font */ url("./assets/fonts/IRANSansSmallBold.svg") format("svg"),
    /* Legacy iOS */ url("./assets/fonts/IRANSansSmallBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/IRANSansSmallBold.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/IRANSansSmallBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IRANSansSmallLight.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/IRANSansSmallLight.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/IRANSansSmallLight.otf") format("opentype"),
    /* Open Type Font */ url("./assets/fonts/IRANSansSmallLight.svg") format("svg"),
    /* Legacy iOS */ url("./assets/fonts/IRANSansSmallLight.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/IRANSansSmallLight.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/IRANSansSmallLight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
/* Font face finished */


*:not([class*='icon']):not(.fa):not(i) {
    font-family: 'wtiransans' !important;
    letter-spacing: normal !important;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, a,section, mark,
ol, ul, li, form, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, details, figcaption, footer, header, hgroup, menu, nav, output,
input[type="text"] , input[type="textarea"] , input[type="submit"] {
    font-family: 'wtiransans' !important;
    letter-spacing: normal !important;
}
a , span {
    font-family: 'wtiransans' !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'wtiransans' !important;
    direction: rtl !important;
    letter-spacing: normal !important;
}

p {
    font-family: 'wtiransans' !important;
    letter-spacing: normal !important;
    direction: rtl !important;
    line-height: 20px !important;
}
.fa , [class*='fa-'] {font-family: "FontAwesome" !important;}
.ab-icon {font: 400 20px/1 "dashicons" !important;}
.dashicons {font-family: "dashicons" !important;}
.font-number{
    display: inline-block;
    direction: ltr;
}


